# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# Testing
coverage/

# Next.js (Client)
client/.next/
client/out/
client/build/
client/.vercel/

# Sanity Studio
studio/.sanity/
studio/dist/
studio/node_modules/

# Python (Server)
__pycache__/
server/__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Files
.env*
!.env.example
